*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #ffffff;
    color: #0D0D0D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario{
    width: 320px;
    background-color: #A6A6A6;
    padding: 40px 20px;
    /*box-sizing: border-box;*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

input[type = "text"]{
    width: 100%;
    background: none;
    border: 1px solid #0D0D0D;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #0D0D0D;
}

input[type = "password"]{
    width: 100%;
    background: none;
    border: 1px solid #0D0D0D;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #0D0D0D;
}

input [type="radio"]{
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type = "mail"]{
    width: 100%;
    background: none;
    border: 1px solid #0D0D0D;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #0D0D0D;
}

select[class= "seleccion"]{
    width: 100%;
    background: #A6A6A6;
    border: 1px solid #0D0D0D;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #0D0D0D;
}

input[type = "phone"]{
    width: 100%;
    background: none;
    border: 1px solid #0D0D0D;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #0D0D0D;
}



input[type = "submit"]{
    background: gold;
    width: 100%;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    border: none;/*Eliminar borde*/
    cursor: pointer;
    /*color: #A6A6A6; color de letra*/
    color: #0D0D0D;
    font-size: 20px;
}
input[type = "submit"]:hover{
    background: #a9ee08;
    transition: .6s;
}




